body {
  font-family: sans-serif;
  background: #fff;
  margin: 0;
  padding: 1rem;
}

.card {
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 10px;
  margin: 1rem 0;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.track-list button {
  margin-bottom: 1rem;
}
